/* gallery callouts */
#content .callout .enlarge { display:block; position:absolute; top:-12px; left:-12px; _left:-32px; width:22px; height:21px; z-index:4; text-indent:-9999px; outline:none; background:url(http://images.apple.com/global/elements/buttons/icon-enlarge.png) no-repeat left top; behavior:url(/global/scripts/lib/iepngfix.htc); }

#content ul.gallerynav { padding:1.5em 0 0 14px; height:104px; border-top:1px solid #dcdcdc; }
#content ul.gallerynav li { display:block; float:left; width:118px; height:104px; text-align:center; }

#content ul.gallerynav li a { position:relative; display:block; width:118px; height:104px; margin:0 auto; font-size:11px; color:#08c; text-align:center; cursor:pointer; }
#content ul.gallerynav li a span { display:block; margin:0 auto; width:88px; height:67px; overflow:hidden; }
#content ul.gallerynav li a span img { margin:0; }
#content ul.gallerynav li a b { display:block; position:absolute; left:0; bottom:18px; width:118px; font-weight:normal; }

/* gallery overlay */
#content .galleryoverlay { display:none; }
.overlaypanel.galleryoverlay img.overlayPanelShadowImage { top:-2.6% !important; left:-2.1% !important; width:104.1% !important; height:105.3% !important; }

.galleryoverlay .overlayPanelContent .images div { display:none; }

.galleryoverlay .overlayPanelContent .galleryoverlay { width:920px; height:722px; }
.galleryoverlay .overlayPanelContent .galleryoverlay .gallerySwapView { position:relative; width:920px; height:601px; }

.galleryoverlay .overlayPanelContent .galleryoverlay .gallerySwapView div.section { position:absolute; width:920px; height:578px; text-align:center; *position:relative; }
.galleryoverlay .overlayPanelContent .galleryoverlay .gallerySwapView div.section div.center1 { left:0; width:920px; height:578px; display:table; *position:absolute; *top:50%; *height:auto; }
.galleryoverlay .overlayPanelContent .galleryoverlay .gallerySwapView div.section div.center1 div.center2 { width:920px; height:578px; display:table-cell; vertical-align:middle; *position:relative; *top:-50%; *height:auto; }


.galleryoverlay .overlayPanelContent .galleryoverlay .gallerySwapView div.section .caption { position:absolute; left:0; bottom:0; width:100%; color:#888; font-size:11px; }
.galleryoverlay .overlayPanelContent .galleryoverlay .gallerySwapView div.section .caption p { margin:0; }

.galleryoverlay .overlayPanelContent .galleryoverlay ul.gallerynav { position:absolute; width:718px; height:113px; left:1px; bottom:8px; padding-left:200px; overflow:hidden; z-index:10; background:url(http://images.apple.com/iphone/gallery/images/sliderbg-20090608.png) repeat-x 0 0; }
.galleryoverlay .overlayPanelContent .galleryoverlay ul.gallerynav li { display:block; float:left; width:108px; height:121px; text-align:center; }

.galleryoverlay .overlayPanelContent .galleryoverlay ul.gallerynav li a { position:relative; display:block; width:108px; height:104px; margin:0 auto; padding-top:22px; text-decoration:none; font-size:11px; color:#888; text-align:center; cursor:pointer; }
.galleryoverlay .overlayPanelContent .galleryoverlay ul.gallerynav li a span { display:block; margin:0 auto; width:87px; height:67px; overflow:hidden; }
.galleryoverlay .overlayPanelContent .galleryoverlay ul.gallerynav li a span img { margin:0; }
.galleryoverlay .overlayPanelContent .galleryoverlay ul.gallerynav li a b { display:block; position:absolute; left:0; bottom:18px; width:108px; font-weight:normal; }

.galleryoverlay .overlayPanelContent .galleryoverlay ul.gallerynav li a:hover { position:relative; }
.galleryoverlay .overlayPanelContent .galleryoverlay ul.gallerynav li a:hover b { color:#08c; }

.galleryoverlay .overlayPanelContent .galleryoverlay ul.gallerynav li a.active { cursor:default; background:url(http://images.apple.com/iphone/images/overlay-gallery-caret-20090608.png) no-repeat 50% 0; }
.galleryoverlay .overlayPanelContent .galleryoverlay ul.gallerynav li a.active span img { margin-top:-67px; }
.galleryoverlay .overlayPanelContent .galleryoverlay ul.gallerynav li a.active b { color:#000; }

/* slideshow */
.galleryoverlay .overlayPanelContent .galleryoverlay .gallerySwapView div.section img.slideshow { display:none; }
.galleryoverlay .overlayPanelContent .galleryoverlay .gallerySwapView div.section div.slideshow { position:relative; margin:0 auto; background:#666; }
.galleryoverlay .overlayPanelContent .galleryoverlay .gallerySwapView div.section div.slideshow img.slideshow { position:absolute; display:block; left:0; }

.galleryoverlay .overlayPanelContent .galleryoverlay .gallerySwapView div.section div#slideshow-sequence { width:688px; height:516px; }

/* how to overlay */
.overlaypanel.howtooverlay img.overlayPanelShadowImage { top:-8.2% !important; left:-6.2% !important; width:112.4% !important; height:116.4% !important; }

.overlaypanel .overlayPanelContent .howtooverlay { position:relative; width:550px; height:432px; padding:18px 20px 0 30px; }
.overlaypanel .overlayPanelContent .howtooverlay .overflow { width:520px; height:368px; padding:4px 30px 0 0; overflow:auto; }

.overlaypanel .overlayPanelContent .howtooverlay .footer { position:absolute; width:550px; left:0; bottom:0; padding:4px 20px 10px 30px; font-size:14px; background:url(http://images.apple.com/iphone/images/overlay-howto-footer-20090608.png) no-repeat 50% 0; zoom:1; }
.overlaypanel .overlayPanelContent .howtooverlay .footer a.more { float:right; margin-top:4px; }
.overlaypanel .overlayPanelContent .howtooverlay .footer:after { content:'.'; display:block; height:0; clear:both; visibility:hidden; }

.overlaypanel .overlayPanelContent .howtooverlay dt { display:inline; font-weight:bold; color:#000; }
.overlaypanel .overlayPanelContent .howtooverlay dd { display:inline; }

/* install overlay */
.overlaypanel.installoverlay img.overlayPanelShadowImage { top:-15.3% !important; left:-7.3% !important; width:114.7% !important; height:136% !important; }

.overlaypanel.installoverlay .panel { padding:35px 35px 0; width:830px; height:332px; }
.overlaypanel.installoverlay .overlayPanelContent h2 { margin-bottom:25px; width:151px; height:20px; text-indent:-9999px; overflow:hidden; background:url(http://images.apple.com/iphone/software-update/images/install-title-20090619.jpg) no-repeat 0 0; }
.overlaypanel.installoverlay .overlayPanelContent h3 { margin:0 0 3px; }
.overlaypanel.installoverlay .overlayPanelContent p { margin-bottom:5px; }

/* scrollbars
------------------------*/
body ::-webkit-scrollbar { width:17px; height:17px; }

/* handle */
body ::-webkit-scrollbar-thumb:vertical { min-height:20px; border-width:17px 0; border-color:transparent; -webkit-border-image:url(http://images.apple.com/iphone/images/scrollbar-handle-20090608.png) 17 0 17 0; }
body ::-webkit-scrollbar-thumb:vertical:hover { -webkit-border-image:url(http://images.apple.com/iphone/images/scrollbar-handle-hover-20090608.png) 17 0 17 0; }
body ::-webkit-scrollbar-thumb:vertical:active { -webkit-border-image:url(http://images.apple.com/iphone/images/scrollbar-handle-active-20090608.png) 17 0 17 0; }

/* track above handle */
body ::-webkit-scrollbar-track-piece:vertical:decrement { border-width:17px 0 0 0; border-color:transparent; -webkit-border-image:url(http://images.apple.com/iphone/images/scrollbar-20090608.png) 17 0 17 0; }
body ::-webkit-scrollbar-track-piece:vertical:decrement:hover { -webkit-border-image:url(http://images.apple.com/iphone/images/scrollbar-hover-20090608.png) 17 0 17 0; }
body ::-webkit-scrollbar-track-piece:vertical:decrement:active { -webkit-border-image:url(http://images.apple.com/iphone/images/scrollbar-active-20090608.png) 17 0 17 0; }

/* track below handle */
body ::-webkit-scrollbar-track-piece:vertical:increment { border-width:0 0 17px 0; border-color:transparent; -webkit-border-image:url(http://images.apple.com/iphone/images/scrollbar-20090608.png) 17 0 17 0; }
body ::-webkit-scrollbar-track-piece:vertical:increment:hover { -webkit-border-image:url(http://images.apple.com/iphone/images/scrollbar-hover-20090608.png) 17 0 17 0; }
body ::-webkit-scrollbar-track-piece:vertical:increment:active { -webkit-border-image:url(http://images.apple.com/iphone/images/scrollbar-active-20090608.png) 17 0 17 0; }

/* don't show the arrows */
body ::-webkit-scrollbar-button { display:none; }
